<div id="header">
	<div class="container">
		<a href="javascript:void(0)" class="brand">lwm</a>
		<button type="button" class="menu-btn"><span></span><span></span><span></span></button>
		<div class="menu-list">
			{%- for item in site.html_pages -%}
				{%- if page.kind == item.kind or page.categories[0] == item.kind -%}
					<a href="{{item.dir}}" class="active">
				{%- else -%}
					<a href="{{item.dir}}">
				{%- endif -%}
				{{item.title | downcase}}</a>
			{%- endfor -%}
		</div>
	</div>
</div>