<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{page.title}}" />
	<title>{{page.title}}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/metro-bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/custom.css" />
	{%if page.layout == 'post' %}<style type="text/css">
	@media all and (min-width: 1200px) {
  		.container {
    		width: 970px;
  		}
	}
	div.post{
		font-size:15px;
		margin-top: 1.6em;
	}
	div.post blockquote p {
		color:#666666;
		font-size: 14px
	}
	div.post li{
		margin: 15px 0;
	}	
	</style>{%endif%}
	<!--[if lt IE 9]>
		<script type="text/javascript" src="/assets/js/lt-ie9.js"></script>
	<![endif]-->
</head>
