{%- assign acss = include.css | split: "," -%}
{%- assign ajs  = include.js  | split: "," -%}
{%- assign ie8_acss = include.ie8_css | split: "," -%}
{%- assign ie8_ajs  = include.ie8_js  | split: "," %}
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>{{page.title}}</title>
{%- for css in acss %}
	<link rel="stylesheet" href="{{css}}" />
{%- endfor -%}
{%- for js in ajs %}
	<script src="{{js}}"></script>
{%- endfor -%}
{%- if include.ie8_css or include.ie8_js %}
<!--[if lt IE 9]>
{%- for css in ie8_acss %}
	<link rel="stylesheet" href="{{css}}" />
{%- endfor -%}
{%- for js in ie8_ajs %}
	<script src="{{js}}"></script>
{%- endfor %}
<![endif]-->
{%- endif -%}