<div id="header" class="navbar navbar-inverse navbar-static-top">
	<div class="{{container}}">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">   
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand zh-tf">lwm</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				{% for item in site.custom_menu %}
					{% if p_category == item.name %}
						<li class="active">
					{% else %}
						<li>
					{% endif %}
						<a href="{{item.url}}">{{item.label}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="{{container}}">
		
	</div>
</div> 