{% if include.init_js %}
<script type="text/javascript" src="/assets/js/swfobject.js"></script>
{% endif %}

<script type="text/javascript">
if(!(/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/.test(navigator.userAgent.toLowerCase()))){
	swfobject.embedSWF(
		"{{include.swf_url}}",
		"{{include.id}}",
		"{{include.width}}",
		"{{include.height}}",
		{%if include.ver %}"{{ include.ver }}"{% else %}'10.0'{% endif %},
		{%if include.expressInstall %}"{{ include.expressInstall }}"{% else %}null{% endif %}, // expressInstall
		null, // flashval
		{
		name : "{{include.id}}",
		wmode: {%if include.wmode %}"{{ include.wmode }}"{% else %}'direct'{% endif %},
		bgcolor: {%if include.bgcolor %}"{{ include.bgcolor }}"{% else %}''{% endif %},
		allowFullscreen: {%if include.allowFullscreen %}"{{ include.allowFullscreen }}"{% else %}'true'{% endif %},
		allowScriptAccess: {%if include.allowScriptAccess %}"{{ include.allowScriptAccess }}"{% else %}'always'{% endif %},
		scale: {%if include.scale %}"{{ include.scale }}"{% else %}'noScale'{% endif %},
		menu: {%if include.menu %}"{{ include.menu }}"{% else %}'false'{% endif %},
		});
}else{
	
}
</script>