{% assign p_category = page.dir | remove_first: "/" | split: "/" | first %}
	<div class="row-fluid">
		<div class="col-md-3">
			<div class="bs-sidebar hidden-print affix-top" role="complementary" data-spy="affix" data-offset-top="2">
				<ul class="nav bs-sidenav"> <!-- 列出sidebar -->
	{% for post in site.categories[p_category] %}
			<li><a href="#{{ post.id | split:'/' | last | replace:'-','_' }}"> {{ post.title }}</a></li>
	{%  endfor %}				
				</ul>
			</div>		
		</div>

		<div class="col-md-9" role="main">
		{% for post in site.categories[p_category] %}
				<div class="bs-docs-section" id="{{ post.id | split:'/' | last | replace:'-','_' }}">
					<a href="{{post.url}}" target="_self" class="artice-list">{{ post.title }}</a>
					<div class="excerpt">{{ post.excerpt }}<i class="get-more">......</i></div>
				</div>
		{%  endfor %}
		</div>
	</div>