html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: SFMono-Regular, Consolas, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
}
b, strong {
	font-weight: bolder;
}
code, kbd, samp {
	font-family: SFMono-Regular, Consolas, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
img {
	border-style: none;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button, input {
	overflow: visible;
}
button, select {
	text-transform: none;
}
button, [type=button], [type=reset], [type=submit] {
	-webkit-appearance: button;
}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button::-moz-focusring, [type=button]::-moz-focusring, [type=reset]::-moz-focusring, [type=submit]::-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type=checkbox], [type=radio] {
	box-sizing: border-box;
	padding: 0;
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
	height: auto;
}
[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
[hidden] {
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Microsoft YaHei", Arial;
	font-weight: 500;
	margin-top: 20px;
	margin-bottom: 10px;
}
a[href], a[href]:link, a[href]:visited {
	color: #007bff;
}
.btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	white-space: nowrap;
	padding: 8px 16px;
	font-size: 16px;
	color: #343a40 !important;
	background-color: #F2F4F6;
	border: 1px solid #DAE0E5;
	text-decoration: none;
	font-weight: 500;
	appearance: none;
}
.btn:hover {
	background-color: #E9ECF0;
	border-color: #D1D8DF;
	color: #3B4248;
}
.btn.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
	color: #f8f9fa !important;
}
.btn.btn-primary:hover {
	background-color: #0A62C2;
	border-color: #0A62C2;
	color: #fff;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, Helvetica, simsun;
	font-size: 16px;
	color: #343a40;
	background-color: #fff;
}
div.container {
	box-sizing: border-box;
	width: 100%;
	max-width: 1140px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	font-family: "Microsoft YaHei", simsun;
	border-bottom: 1px solid #DAE0E5;
}
#header:after {
	display: table;
	clear: both;
	content: "";
}
#header .brand {
	text-decoration: none;
	display: inline-block;
	color: #6c757d;
	font-weight: 600;
	padding: 16px 0;
}
#header .menu-btn {
	display: none;
	float: right;
	padding: 7px;
	margin-top: 9px;
	color: #939BA2;
	border: 1px solid #939BA2;
	background-color: transparent;
	cursor: pointer;
}
#header .menu-btn > span {
	display: block;
	width: 16px;
	height: 2px;
	margin-top: 5px;
	pointer-events: none;
	background-color: #939BA2;
	border-radius: 2px;
}
#header .menu-btn > span:first-child {
	margin-top: 0;
}
#header .menu-list {
	float: right;
}
#header .menu-list > a {
	text-decoration: none;
	display: inline-block;
	padding: 16px 24px;
	color: #343a40;
	background-color: transparent;
}
#header .menu-list > a:hover {
	color: #545B62;
	background-color: #E9ECEF;
}
#header .menu-list > a.active {
	color: #007bff;
	font-weight: 600;
	padding-bottom: 14px;
	border-bottom: 2px solid #007bff;
	background-color: transparent;
}
#header + div {
	border-top: 1px solid #F2F4F6;
	padding-top: 16px;
}
#header + div:after {
	display: table;
	clear: both;
	content: "";
}
#leftSideBar {
	box-sizing: border-box;
	width: 256px;
	position: fixed;
	background-color: #f8f9fa;
	overflow: hidden;
	list-style: none;
}
#leftSideBar > li {
	padding: 0;
	margin: 0;
}
#leftSideBar > li ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#leftSideBar > li > ul > li > a {
	padding-left: 19.2px;
}
#leftSideBar > li > ul > li > ul > li > a {
	padding-left: 40px;
}
#leftSideBar a {
	font-size: 14px;
	display: list-item;
	color: #6c757d;
	text-decoration: none;
	padding: 5px 0;
	border-right: 2px solid #f8f9fa;
}
#leftSideBar a:hover {
	background-color: #EFF1F4;
	color: #007bff;
	text-decoration: underline;
}
#leftSideBar a.active {
	color: #007bff;
	border-right-color: #007bff;
	font-weight: bold;
}
#mainContent {
	box-sizing: border-box;
	margin-left: 272px;
}
#mainContent > .section:first-child {
	padding-top: 0;
}
#mainContent > .section > a {
	font-family: "Microsoft YaHei", simsun;
	font-size: 20px;
	color: #474747;
	text-decoration: none;
}
#mainContent > .section > a:hover {
	color: #007bff;
	text-decoration: underline;
}
#mainContent > .section > div {
	color: #6c757d;
	margin: 16px 0 0 16px;
	font-size: 14px;
	line-height: 1.2;
}
#mainContent > .section > div a {
	color: #60686F;
}
#mainContent > .section > div > .more {
	display: block;
	font-family: "Microsoft YaHei", simsun;
	font-size: 24px;
	line-height: 0;
	text-decoration: none;
	margin-bottom: 32px;
}
#mainContent > .section > div > .more:hover {
	color: #007bff;
	text-decoration: underline;
}
#mainContent.article > p {
	color: #6c757d;
	font-size: 14px;
}
#mainContent pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #656D75;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f8f9fa;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: auto;
}
#mainContent pre code {
	padding: 0;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
	border-radius: 0;
}
#mainContent code {
	padding: 2px 4px;
	font-size: 90%;
	color: #A94049;
	background-color: #f9f2f4;
	border-radius: 4px;
}
#mainContent kbd {
	font-weight: 600;
	background-color: #f9f2f4;
}
#footer {
	padding-top: 16px;
	padding-bottom: 16px;
	font-size: 12px;
}
#top-wrap {
	background-color: #343a40;
	color: #f8f9fa;
	min-height: 360px;
}
#top-wrap #header {
	border-bottom: 0;
}
#top-wrap #header .brand {
	color: #4B535C;
	transition: color 2s;
}
#top-wrap #header .brand:hover {
	color: #f8f9fa;
}
#top-wrap #header .menu-list > a {
	color: #E9ECEF;
}
#top-wrap #header .menu-list > a.active, #top-wrap #header .menu-list > a:hover {
	color: #f8f9fa;
	border-bottom-color: #f8f9fa;
	background-color: transparent;
}
#top-wrap #header + div {
	border-top: 0;
	padding-top: 0;
}
#top-wrap #header + div > .container {
	padding: 48px 15px;
}
#top-wrap #header + div > .container h1 {
	margin: 0;
	font-size: 64px;
	font-weight: normal;
	font-family: "Microsoft YaHei", Arial;
}
body > .project {
	margin: 24px auto;
	color: #343a40;
}
body > .project:after {
	display: table;
	clear: both;
	content: "";
}
body > .project > div {
	float: left;
}
body > .project > div.col-5-2 {
	width: 40%;
}
body > .project > div.col-5-3 {
	width: 60%;
}
body > .project > div.col-5-3 > h2 {
	font-size: 28px;
}
body > .project > div.col-5-3 > h2 + p {
	color: #A94049;
}
body > .project > div.col-5-3 > p {
	font-size: 14px;
	margin: 0 0 10px 0;
}
body > .project > div.col-5-3 > .btn {
	margin-top: 16px;
}
#nsf_player {
	margin: 22px 16px 0 0;
	border: 0;
}
#markdown-body {
	line-height: 1.6;
}
#markdown-body blockquote {
	font-size: 14px;
	border-left: 4px solid #DAE0E5;
	color: #6c757d;
	margin: 0;
	padding: 0 16px;
}
#markdown-body blockquote > :first-child {
	margin-top: 0;
}
#markdown-body a {
	text-decoration: none;
}
#markdown-body a:hover {
	text-decoration: underline;
}
#markdown-body img {
	max-width: 100%;
	box-sizing: border-box;
	border: 0;
}
#markdown-body ul, #markdown-body ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 32px;
}
#markdown-body ul ol, #markdown-body ol ol {
	list-style-type: disc;
}
#markdown-body ul ol ol, #markdown-body ol ol ol {
	list-style-type: circle;
}
#markdown-body dl {
	padding: 0;
}
#markdown-body dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 16px;
	font-style: italic;
	font-weight: 600;
}
#markdown-body dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}
#markdown-body li > p {
	margin-top: 16px;
}
#markdown-body li + li {
	margin-top: 4px;
}
#markdown-body table {
	display: block;
	width: 100%;
	overflow: auto;
	border-collapse: collapse;
	border-spacing: 0;
}
#markdown-body table th {
	font-weight: 600;
}
#markdown-body table th, #markdown-body table td {
	border: 1px solid #DAE0E5;
	padding: 6px 13px;
	text-align: center;
}
#markdown-body table > tbody tr:nth-child(2n) {
	background-color: #f8f9fa;
}
#markdown-body hr {
	background-color: #E9ECEF;
	border: 0;
	height: 0.25em;
	margin: 24px 0;
	padding: 0;
}
#markdown-body .highlight table td {
	padding: 5px;
}
#markdown-body .highlight table pre {
	margin: 0;
}
#markdown-body .highlight .cm {
	color: #999988;
	font-style: italic;
}
#markdown-body .highlight .cp {
	color: #999999;
	font-weight: bold;
}
#markdown-body .highlight .c1 {
	color: #999988;
	font-style: italic;
}
#markdown-body .highlight .cs {
	color: #999999;
	font-weight: bold;
	font-style: italic;
}
#markdown-body .highlight .c, #markdown-body .highlight .cd {
	color: #999988;
	font-style: italic;
}
#markdown-body .highlight .err {
	color: #a61717;
	background-color: #e3d2d2;
}
#markdown-body .highlight .gd {
	color: #000000;
	background-color: #ffdddd;
}
#markdown-body .highlight .ge {
	color: #000000;
	font-style: italic;
}
#markdown-body .highlight .gr {
	color: #aa0000;
}
#markdown-body .highlight .gh {
	color: #999999;
}
#markdown-body .highlight .gi {
	color: #000000;
	background-color: #ddffdd;
}
#markdown-body .highlight .go {
	color: #888888;
}
#markdown-body .highlight .gp {
	color: #555555;
}
#markdown-body .highlight .gs {
	font-weight: bold;
}
#markdown-body .highlight .gu {
	color: #aaaaaa;
}
#markdown-body .highlight .gt {
	color: #aa0000;
}
#markdown-body .highlight .kc {
	color: #000000;
	font-weight: bold;
}
#markdown-body .highlight .kd {
	color: #000000;
	font-weight: bold;
}
#markdown-body .highlight .kn {
	color: #000000;
	font-weight: bold;
}
#markdown-body .highlight .kp {
	color: #000000;
	font-weight: bold;
}
#markdown-body .highlight .kr {
	color: #000000;
	font-weight: bold;
}
#markdown-body .highlight .kt {
	color: #445588;
	font-weight: bold;
}
#markdown-body .highlight .k, #markdown-body .highlight .kv {
	color: #000000;
	font-weight: bold;
}
#markdown-body .highlight .mf {
	color: #009999;
}
#markdown-body .highlight .mh {
	color: #009999;
}
#markdown-body .highlight .il {
	color: #009999;
}
#markdown-body .highlight .mi {
	color: #009999;
}
#markdown-body .highlight .mo {
	color: #009999;
}
#markdown-body .highlight .m, #markdown-body .highlight .mb, #markdown-body .highlight .mx {
	color: #009999;
}
#markdown-body .highlight .sb {
	color: #d14;
}
#markdown-body .highlight .sc {
	color: #d14;
}
#markdown-body .highlight .sd {
	color: #d14;
}
#markdown-body .highlight .s2 {
	color: #d14;
}
#markdown-body .highlight .se {
	color: #d14;
}
#markdown-body .highlight .sh {
	color: #d14;
}
#markdown-body .highlight .si {
	color: #d14;
}
#markdown-body .highlight .sx {
	color: #d14;
}
#markdown-body .highlight .sr {
	color: #009926;
}
#markdown-body .highlight .s1 {
	color: #d14;
}
#markdown-body .highlight .ss {
	color: #990073;
}
#markdown-body .highlight .s {
	color: #d14;
}
#markdown-body .highlight .na {
	color: #008080;
}
#markdown-body .highlight .bp {
	color: #999999;
}
#markdown-body .highlight .nb {
	color: #0086B3;
}
#markdown-body .highlight .nc {
	color: #445588;
	font-weight: bold;
}
#markdown-body .highlight .no {
	color: #008080;
}
#markdown-body .highlight .nd {
	color: #3c5d5d;
	font-weight: bold;
}
#markdown-body .highlight .ni {
	color: #800080;
}
#markdown-body .highlight .ne {
	color: #990000;
	font-weight: bold;
}
#markdown-body .highlight .nf {
	color: #990000;
	font-weight: bold;
}
#markdown-body .highlight .nl {
	color: #990000;
	font-weight: bold;
}
#markdown-body .highlight .nn {
	color: #555555;
}
#markdown-body .highlight .nt {
	color: #000080;
}
#markdown-body .highlight .vc {
	color: #008080;
}
#markdown-body .highlight .vg {
	color: #008080;
}
#markdown-body .highlight .vi {
	color: #008080;
}
#markdown-body .highlight .nv {
	color: #008080;
}
#markdown-body .highlight .ow {
	color: #000000;
	font-weight: bold;
}
#markdown-body .highlight .o {
	color: #000000;
	font-weight: bold;
}
#markdown-body .highlight .w {
	color: #bbbbbb;
}
#markdown-body .highlight {
	background-color: #f8f8f8;
}
@media (max-width: 768px) {
	#header .menu-btn {
		display: block;
	}
	#header .menu-list {
		display: none;
		float: none;
		list-style: none;
		margin-left: -15px;
		margin-right: -15px;
	}
	#header .menu-list.active {
		display: block;
	}
	#header .menu-list > a {
		display: list-item;
		padding: 12px 15px;
		margin: 0;
	}
	#header .menu-list > a.active {
		color: #fff;
		background-color: #007bff;
		border-bottom: 0;
		padding-bottom: 12px;
	}
	#leftSideBar {
		width: 100%;
		position: static;
	}
	#leftSideBar a {
		font-size: 16px;
		text-decoration: underline;
	}
	#mainContent {
		margin-left: 0;
		margin-top: 16px;
	}
	#top-wrap #header .menu-list > a {
		border-bottom: 0;
		color: #f8f9fa;
	}
	#top-wrap #header .menu-list > a.active, #top-wrap #header .menu-list > a:hover {
		background-color: #007bff;
	}
	body > .project > div {
		float: none;
		width: 100% !important;
	}
	body > .project > .only-desktop {
		display: none !important;
	}
}
@media (max-width: 992px) and (min-width: 769px) {
	#leftSideBar {
		width: 192px;
	}
	#mainContent {
		margin-left: 192px;
	}
}
@media print {
	#header {
		display: none;
	}
	#footer {
		display: none;
	}
	#leftSideBar {
		display: none;
	}
	#mainContent {
		width: 100%;
	}
}
