<!DOCTYPE html>
<html>
    {% if page.fluid %}
    {% assign container = 'container-fluid' %}
    {% else %}
    {% assign container = 'container' %}
    {% endif %}
    
    
    
    {% include head.html %}
    <body data-spy="scroll" data-target=".subnav" data-offset="50" screen_capture_injected="true">
      <div id="wrap">
          {% include header.html %}
         <div id="mainContainer" class="{{container}}">       
          {{content}}
         </div>  
      </div>
      
        {% include footer.html %}
     
      <script type="text/javascript" src="assets/js/jquery.min.js"></script>
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    </body>
</html>
