{% if page.fluid %}{% assign container = 'container-fluid' %}{% else %}{% assign container = 'container' %}{% endif %}{% include global-var.cfg %}<!DOCTYPE html>
<html>{% include head.html %}    
    <body>
      <div id="wrap">
          {% include header.html %}
         <div id="mainContainer" class="{{container}}">       
          <h3>{{ page.title }} <a href="{{site.doc_url_path | append: page.path}}" target="_blank" class="badge doc-edit" data-toggle="tooltip" title=" 如果你发现错误可以尝试修改 ">改正错误...</a></h3> 
		  <p class="text-muted"><span>{{ page.date | date: '%Y年%m月%d日' }}  - 最后修改: {% last_modified_at %Y-%m-%d %H:%M%Z %}</span></p>

		  <div class="post">{{ content }}</div>
          
          <hr class="gh" />
          <!-- 多说评论框 start -->
         <div class="ds-thread" data-thread-key="{{page.path | remove_first:'_posts/' | remove_first:'.markdown'}}" data-title="{{page.title}}" data-url="{{page.url}}"></div> 
         </div>
        
      </div>
{% include footer.html %}<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $('a.doc-edit:first').tooltip({placement: 'right'});

  if(location.host !== 'localhost'){
  var duoshuoQuery = {short_name:"r32"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  }
</script>
    </body>
</html>
