<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{page.title}}" />
    <title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />  
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/github-markdown.css" />
    <style type="text/css">
    /* 调整左边的浮动 table of contents */
    .bs-sidenav {
      background-color: transparent;
    }
    .bs-sidebar .nav > .active > a,
    .bs-sidebar .nav > .active:hover > a,
    .bs-sidebar .nav > .active:focus > a {
      color: #428bca;
      border-right: 1px solid #428bca;
    }

	.article-title{
	  margin-top: 4px;
	}


	@media print {
		#header{
			display: none;	
		}

		#footer{
			display:none;
		}

		#mainContainer div.col-md-3{
			display: none;
		}

		#mainContainer div.col-md-9{
			width: 100%;
		}

		#mainContainer a.doc-edit{
			display:none;
		}
	}
    </style>
    <!--[if lt IE 9]>
      <script type="text/javascript" src="/assets/js/lt-ie9.js"></script>
    <![endif]-->
  </head>
    <body>
      <div id="wrap">
          {% include header.html %}
        <div id="mainContainer" class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="bs-sidebar hidden-print affix-top" role="complementary" data-spy="affix" data-offset-top="4">
            </div>
            </div>

            <div class="col-md-9" role="main">
              <h2 class="article-title">{{ page.title }}</h2>
              <p class="text-muted">{{ page.date | date: '%Y年%m月%d日 %H:%MGMT+8' }} <a href="{{site.doc_url_path | append: page.path}}" target="_blank" class="badge doc-edit" data-toggle="tooltip" title=" 如有错误可点击尝试修改 ">改正错误...</a></p>
              <div class="markdown-body">{{content}}</div>   
            </div>
            <hr class="gh" />
            <!-- 多说评论框 start -->
           <div class="ds-thread" data-thread-key="{{page.path | remove_first:'_posts/' | remove_first:'.markdown'}}" data-title="{{page.title}}" data-url="{{page.url}}"></div> 
          </div>
        </div>        
      </div>
{% include footer.html %}{% if site.use_cdn == true %}
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% else %}
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
{% endif %}
<script type="text/javascript" src="/assets/js/comm.js"></script>
<script type="text/javascript" src="/assets/js/toc.js"></script>
<script type="text/javascript" src="/assets/js/setImmediate.js"></script>
<script type="text/javascript">
  try{
	  jQuery('a.doc-edit:first').tooltip({placement: 'right'})
  }catch(err){
	  // IE 7 中 tooltip 会出错. 可能是由于 jQuery 的原因	
  };

  // 关于 toc.js
  // 移除了 16,17,18 行的 encodeURIComponent
  var eToc = jQuery('#mainContainer .bs-sidebar:first');

  eToc.toc({
      noBackToTopLinks: true,
      showEffect: "none",
      title: '',
      listType: 'ul class="nav bs-sidenav"'         // 这里我修改了 toc.js 的第 78 行
  });

  setImmediate(function(){
    // 当 table of content 高度大于 窗口时,固定住而不是, 不再考虑窗口的 resize 事件
    if((eToc.height() + 40) >= jQuery(window).height()){
      $(window).off('.affix');
      eToc.removeAttr("data-spy").removeClass("affix");
      return;
    } 

    try{
      jQuery('body').scrollspy({
        target:'div.bs-sidebar:first',
        offset: $('#header').outerHeight(true) + 4
      });
    }catch(err){
		//window.console && window.console.log("已知如果 ID 中包含有 () 则将失败");
    }

  });


/*  
  // 暂时不使用评论.
  if(location.host !== 'localhost'){
    var duoshuoQuery = {short_name:"r32"};
    (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] 
       || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
  } */
</script>
    </body>
</html>
